/* start glbal rules */
:root {
    --main-color:  #2196F3;
    --main-color-alt:  #1787e0;
    --main-transtion: 0.4s;
    --transport-color : rgb( 15 116 143 / 70% );
    --section-padding: 100px;
    --section-background: #ececec;
}
*{
    box-sizing: border-box;
    padding: 0;    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    height: 5000px;
}
ul {
    list-style: none;
    padding: 0; margin: 0;
}
a {
    text-decoration: none;
}
.container {
    padding-left: 15px;   padding-right: 15px;
    margin-left: auto;    margin-right: auto;
}
@media ( min-width:768px ) {
    .container {
        width: 750px;
    }
}
@media ( min-width:992px ) {
    .container {
        width: 970px;
    }
}
@media ( min-width:1200px ) {
    .container {
        width: 1170px;
    }
}
/* end glbal rules ========================================================= */
/* Start Componentes ******************************************************* */
.main-title {
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 0 auto 80px;
    padding: 10px 20px;
    font-size: 30px;
    border: 2px solid black;
    transition: var(--main-transtion);
    z-index: 1;
}
.main-title::before , 
.main-title::after {
    content: '';
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    width: 12px;  height: 12px;
    top: 50%;  
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before { 
    z-index: -1;
    animation: move-left  linear 1.5s forwards; 
}
.main-title:hover::after { 
    z-index: -1;
    animation: move-right linear 1.5s forwards; 
} 
.main-title:hover {
    border: 1px solid white;
    color: white;
    transition-delay: 0.5s;
}
/* End Componentes ******************************************************* */
/* start header */
.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-size: 26px;  font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media ( max-width:767px ) {
    .header .logo {
        width: 100%;
        height: 50px;
    }
}
.header .main-nav {
    display: flex;
}
@media ( max-width:767px ) {
    .header .main-nav {
        margin: auto;
    }
}
.header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc( 100% + 1px );
}
.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0 20px;
    color: black;
    position: relative;
    transition: var(--main-transtion);
    overflow: hidden;
}
@media ( max-width:767px ) {
    .header .main-nav > li > a { 
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}
.header .main-nav > li > a::before { 
    content: '';
    position: absolute;
    width: 100%;    height: 4px;
    top: 0;         left: -100%;
    background-color: var(--main-color);
    transition: var(--main-transtion);
}
.header .main-nav > li > a:hover { 
    background-color: #fafafa;
    color: var(--main-color);
} 
.header .main-nav > li > a:hover::before { 
    left: 0;
}
.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 1px solid var(--main-color);
    display: flex;  gap: 40px;
    top: calc(100% + 50px);
    z-index: -1;
    opacity: 0;
    transition: top var(--main-transtion)  , opacity var(--main-transtion);
}
@media ( max-width: 767px ) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 10px;
    }
}
.header .mega-menu .image img {
    max-width: 1005;
}
@media ( max-width: 991px ) {
    .header .mega-menu .image img {
        display: none;
    }
}
.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}
.header .mega-menu .links li {
    position: relative;
}
.header .mega-menu .links li:not( :last-child ) {
    border-bottom: 1px solid #e9e6e6;
}
@media ( max-width: 767px ) { 
    .header .mega-menu .links:first-of-type li:last-child { 
        border-bottom: 1px solid #e9e6e6;
    }
}
.header .mega-menu .links li::before {
    content: '';
    position: absolute;
    left: 0;         top: 0;
    height: 100%;   width: 0;
    background-color: #FAFAFA;
    z-index: -1;
    transition: var(--main-transtion);
}
.header .mega-menu .links li:hover::before {
    width: 100%;
}
.header .mega-menu .links li a {
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}
.header .mega-menu .links li i {
    margin-right: 10px;
}
/* end header !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: '';
    position: absolute;
    width: 100%;  height: 100%;
    top: -40px;   left: 0;
    background-color: #ececec;
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;
}
.landing .container {
    min-height: calc( 100vh - 72px );
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text {
    float: 1;
}
@media ( max-width:991px ) {
    .landing .text {
        text-align: center;
    }
}
.landing .text h1 {
    font-size: 40px;
    margin: 0;
}
@media ( max-width:767px ) {
    .landing .text h1 {
        font-size: 26px;
    }
}
.landing .text p {
    font-size: 22px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 700px;
}
@media ( max-width:767px ) {
    .landing .text p {
        font-size: 16px;
    }
}
@media ( max-width:991px ) {
    .landing .text p {
        margin: 10px auto;
    }
}
.landing .image img {
    position: relative;
    width: 600px;
    max-width: 100%;
    animation: up-to-down 5s linear infinite;
}
@media ( max-width:991px ) {
    .landing .image {
        display: none;
    }
}
.landing .go-down {
    position: absolute;
    color: var(--main-color);
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transtion);
}
.landing .go-down:hover {

}
.landing .go-down i {
    animation: bouncing 1.5s linear infinite forwards;
}
/* end Landing */
/* Start articales */
.articales {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}
.articales .container {
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(250px , 1fr) );
    gap: 40px;
}
.articales .box {
    background-color: white;
    box-shadow: 0 2px 15px rgba( 0 0 0 / 10%);
    border-radius: 8px;
    overflow: hidden;
    transition: transform var(--main-transtion) , box-shadow var(--main-transtion);
}
.articales .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgba( 0 0 0 / 20%);
}
.articales .box img {
    max-width: 100%;
} 
.articales .box .content {
    padding: 20px;
}
.articales .content h3 {
    margin: 0;
}
.articales .content p {
    margin: 10px 0 0;
    color: #777;
    line-height: 1.5;
}
.articales .box .info {
    padding: 20px;
    border-top: 1px solid #e9e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.articales .info a {
    color: var(--main-color);
    font-weight: bold;
}
.articales .info i {
    color: var(--main-color);
}
.articales .box:hover .info i {
    animation: moving-arrow 0.5s linear infinite;
}
/* End articales $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */
/*  Start garllery */
.garllery {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: var(--section-background);
}
.garllery .container {
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(300px , 1fr) );
    gap: 40px;
} 
.garllery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgba( 0 0 0 / 13% )  , 0 2px 4px 8px rgba( 0 0 0 / 12% ) ;
}
.garllery .box .image { 
    position: relative;
}
.garllery .box .image::before { 
    content: '';
    position: absolute;
    left: 50%;      top: 50%;
    transform: translate( -50% , -50% );
    width: 0;    height: 0;
    opacity: 0;
    background-color: #ececec;
    z-index: 2;
}
.garllery .box .image:hover::before { 
    animation: flashing 0.8s;
}
.garllery .box img {
    max-width: 100%;
    transition: var(--main-transtion);
}
.garllery .box .image:hover img { 
    transform: rotate(5deg) scale(1.1);
}
/*  End garllery %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* Start feature */
.feature {
    padding-top:    var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-color: white;
}
.feature .container {
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(300px , 1fr) );
    gap: 40px;
}
.feature .box {
    text-align: center;
    border: 1px solid #ccc;
    overflow: hidden;
}
.feature .image img {
    max-width: 100%;
}
.feature .box .image {
    position: relative;
}
.feature .box .image::before {
    content: '';
    position: absolute;
    left: 0;      top: 0;
    width: 100%;  height: 100%;
}
.feature .box .image::after {
    content: '';
    position: absolute;
    right: 0;     bottom: 0;
    border-style: solid;
    border-width: 0 0 155px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transtion);
}
.feature .box:hover .image::after  {
    border-width: 170px 500px 170px 0;
}
.feature .box h3 {
    position: relative;
    font-size: 32px;
    width: fit-content;
    margin: auto;
}
.feature .box h3::after {
    content: '';
    position: absolute;
    bottom: -20px;      left: 15px;
    height: 5px;
    width: calc( 100% - 30px );
}
.feature .box p {
    margin: 30px 0;
    padding: 25px;
    line-height: 1.4;
    font-size: 22px;
    color: #777;
}
.feature .box a {
    display: block;
    border: 2px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 18px;  font-weight: bold;
    transition: var(--main-transtion);
}
.feature .qualty .image::before {
    background-color: rgb( 255 64 54 / 50% );
}
.feature .qualty h3::after {
    background-color: #f44036;
}
.feature .qualty a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient( to right , #f44036 50% , white 50% );
    background-size: 200% 100%;
    background-position: right bottom;
}
.feature .box:hover a {  
    background-position: left bottom;
    color: white;
}
.feature .time .image::before {
    background-color: rgb( 0 150 136 / 50% );
}
.feature .time h3::after {
    background-color: #009688;
}
.feature .timea {
    color: #009688;
    border-color: #009688;
    background: linear-gradient( to right , #009688 50% , white 50% );
    background-size: 200% 100%;
    background-position: right bottom;
}
.feature .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient( to right , #009688 50% , white 50% );
    background-size: 200% 100%;
    background-position: right bottom;
}
/*  */
.feature .passion .image::before {
    background-color: rgb( 3 169 244 / 50% );
}
.feature .passion h3::after {
    background-color: #03a9f4;
}
.feature .tpassion {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient( to right , #03a9f4 50% , white 50% );
    background-size: 200% 100%;
    background-position: right bottom;
}
.feature .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
    background: linear-gradient( to right , #03a9f4 50% , white 50% );
    background-size: 200% 100%;
    background-position: right bottom;
}
/* End feature */
/* Start Animation  */
@keyframes up-to-down  {
    0%, 100% {
        top: 0;
    }
    50% {
        top: -50px
    }
}
@keyframes bouncing {
    0% , 10% , 20% , 50% , 80% , 100% {
        transform: translateY(0);
    }
    40% , 60% {
        transform: translateY(-15px);
    }
}
@keyframes move-left {
    50% {
        left: 0;
        width: 12px; height: 12px;
    } 
    100% {
        left: 0; 
        border-radius: 0;
        width: 100%;  height: 100%;
    }
}
@keyframes move-right {
    50% {
        right: 0;
        width: 12px; height: 12px;
    } 
    100% {
        right: 0; 
        border-radius: 0;
        width: 100%;  height: 100%;
    }
}
@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }
}
@keyframes flashing {
    0% , 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}